/frontend/node_modules
/frontend/.pnp
/frontend/build
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/backend/.env
/backend/env
/backend/dist
/backend/*.py[cod]
/backend/*.log
/backend/*.jar
/backend/Thumbs.db
/backend/*.app
/backend/*.exe
/backend/*.war
